@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
	--font-main: 'Roboto Mono', monospace;
	--primary: #f0ca00;
	--dark: #1b1b1b;
	--light: #f5f5f5;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--font-main);
}

body {
	background-color: var(--dark);
	color: var(--light);
	padding: 1rem 2rem;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.wrapper h1 {
	text-align: center;
}

.select-area {
	outline: solid 1px var(--light);
	width: 100%;
	height: calc(100vh - (2rem + 43px + 1rem));
	position: relative;
}

.selected-area {
	position: absolute;
	border: solid 1px var(--primary);
	background-color: var(--light);
}

.select-area p {
	user-select: none;
}

.details {
	padding: 0.5rem;
}
