@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
	--font-main: 'Roboto Mono', monospace;
	--primary: #f0ca00;
	--dark: #1b1b1b;
	--light: #f5f5f5;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--font-main);
}

body {
	background-color: var(--dark);
	color: var(--light);
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	user-select: none;
}

.heading {
	text-align: center;
	width: 100%;
	padding: 1rem;
	opacity: 0.51;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.select-area {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.selected-area {
	position: absolute;
	border: solid 1px var(--primary);
	background-color: var(--light);
}

.select-area p {
	user-select: none;
}

.details {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.details p {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}
